/**
 * HW-Wireframe
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
	background-color: #777;
	content: #ebebeb;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;

}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}


section { 
	background:#ccc;
	padding: 20px;
	margin-bottom: 20px;
}

#layout {
	background:gray;
	position:fixed;
	text-align: center;

}



#left {
	float:left;
	width: 49%;
	height: 230px;
	background:silver;
	
}

#right {
	float:right;
	width: 49%;
	height: 230px;
	background:silver;
}

#article {
	float:left;
	border: 10px;
	top: 220px;
	width: 44%;
	height: 150px;
	background-color: gray;
	padding: 10px;
	position: absolute;
	margin: 0;
	left: 40px;
	right: -180px;
	z-index: 1;
}

#h {
	float:left;
	top: 270px;
	width: 42%;
	height: 30px;
	left: 48px;
	background-color: silver;
	padding: 2px;
	border: 1px;
	position: absolute;
	margin: 0;
	z-index: 1;
}

#p {
	float:left;
	top: 320px;
	width: 42%;
	height: 30px;
	left: 48px;
	background-color: silver;
	padding: 10px;
	position: absolute;
	margin: 0;
	z-index: 1;
}





#division {
	padding: 20px;
	
}



#footer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  left: 10px;
  padding: 1rem;
  background-color: silver;
  text-align: center;
}